<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LinksHoiHoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="LinkFilesCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <LinksHoiHoi.Properties.Settings>
            <setting name="Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Chohuku" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app1" serializeAs="String">
                <value>Illustrator</value>
            </setting>
            <setting name="app2" serializeAs="String">
                <value>InDesign</value>
            </setting>
            <setting name="app3" serializeAs="String">
                <value>Photoshop</value>
            </setting>
            <setting name="path1" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe Illustrator 2020\Support Files\Contents\Windows\Illustrator.exe</value>
            </setting>
            <setting name="path2" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe InDesign 2020\InDesign.exe</value>
            </setting>
            <setting name="path3" serializeAs="String">
                <value>Photoshop.exe</value>
            </setting>
            <setting name="oriPathCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </LinksHoiHoi.Properties.Settings>
        <LinkFilesCollector.Properties.Settings>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
        </LinkFilesCollector.Properties.Settings>
    </userSettings>
</configuration>
